@charset "utf-8";

/* INICIO BLOCOS */
.bloco1 {
    background: url(../../01/img/BG1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bloco2 {
    background: url(../../01/img/BG2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bloco3 {
    background: url(../../01/img/BG3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bloco3 .container {
    background-color: #F3F5F8;
    border: 4px solid #FFF;
    border-radius: 8px;
    padding: 0 100px;
}

.bloco4 {
    background: url(../../01/img/BG4.jpg) no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.bloco5 {
    background: url(../../01/img/BG5.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* fim BLOCOS */

/* INICIO TUDO RELACIONADO AO PARALLAX */
.bloco-paralax-top {
    height: 40px;
    background: url(../../01/img/parallax_div_topo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bloco-paralax-bottom {
    height: 40px;
    background: url(../../01/img/parallax_div_bottom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bloco-paralax1 {
    height: 450px;
    background: url(../../01/img/parallax1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.bloco-paralax1 .container {
    padding-right: 500px;
    padding-top: 20px;
    color: #fff;
}

.bloco-paralax3 {
    height: 500px;
    background: url(../../01/img/parallax3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.bloco-paralax3 .container {
    padding-right: 500px;
    padding-top: 20px;
    color: #fff;
}

.bloco-paralax2 {
    height: 450px;
    background: url(../../01/img/parallax2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* FIM TUDO RELACIONADO AO PARALLAX */

/* INICIO PAINEL CLICAVEL 2 */
.painel2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-painel2 {
    height: 227px;
    width: 226px;
    border: none;
    margin-right: 50px;
    margin-left: 50px;
}

.bt1-painel2 {
    background: url(../../01/img/bt1.png) no-repeat;
}

.bt2-painel2 {
    background: url(../../01/img/bt2.png) no-repeat;
}

.bt1-painel2:hover {
    background: url(../../01/img/bt1_hv.png) no-repeat;
}

.bt2-painel2:hover {
    background: url(../../01/img/bt2_hv.png) no-repeat;
}

/* FIM PAINEL CLICAVEL 2 */


/* INICIO PAINEL CLICAVEL 1 */
.painel1 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: url(../../01/img/painel1_BG.png) no-repeat;
    background-size: contain;
    height: 532px;
    background-position: center;
}

.bt-painel1 {
    height: 51px;
    width: 168px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.bt1-painel1 {
    background: url(../../01/img/painel1_bt1.png) no-repeat;
}

.bt2-painel1 {
    background: url(../../01/img/painel1_bt2.png) no-repeat;
}

.bt3-painel1 {
    background: url(../../01/img/painel1_bt3.png) no-repeat;
}

.bt1-painel1:hover,
.bt2-painel1:hover,
.bt3-painel1:hover {
    transform: scale(1.1);
}

/* FIM PAINEL CLICAVEL 1 */

/* INICIO PAINEL CLICAVEL 3 */
.painel3 {
    background: url(../../01/img/painel2_centro.png) no-repeat;
    background-size: contain;
    height: 900px;
    background-position: center;
}

.bt-painel3 {
    background: url(../../01/img/painel2_bt.png) no-repeat;
    height: 281px;
    width: 282px;
    border: none;
    transition: transform 0.3s ease;
    position: relative;
}

.bt-painel3:hover {
    background: url(../../01/img/painel2_bt_hv.png) no-repeat;

}

.bt1-painel3::after {
    content: "Modelo de excelência da gestão";
}

.bt2-painel3::after {
    content: "World class manufacturing";
}

.bt3-painel3::after {
    content: "Modelo ibero-americano de excelência em gestão";
}

.bt4-painel3::after {
    content: "Modelo EFQM";
}

.bt5-painel3::after {
    content: "Environmental, social and governance";
}

.bt6-painel3::after {
    content: "Deming";
}

.bt7-painel3::after {
    content: "Malcolm Baldrige";
}

.bt1-painel3:hover::after,
.bt2-painel3:hover::after,
.bt3-painel3:hover::after,
.bt4-painel3:hover::after,
.bt5-painel3:hover::after,
.bt6-painel3:hover::after,
.bt7-painel3:hover::after {
    color: #004789;
}

.bt1-painel3::after,
.bt2-painel3::after,
.bt3-painel3::after,
.bt4-painel3::after,
.bt5-painel3::after,
.bt6-painel3::after,
.bt7-painel3::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #8badd1;
    font-weight: bold;
}

/* FIM PAINEL CLICAVEL 3 */
.bg-podcast {
    margin-top: 80px;
    margin-bottom: 80px;
}

.img-divisoria1 {
    margin-top: -3%;
    position: absolute;
    left: 47%;
}

footer {
    background: url(../../01/img/BG5.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* INICIO MARCADOR 2 */
.marcador2 {
    list-style: none;
    padding: 0;
}

.marcador2 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
}

.marcador2 li::before {
    content: "";
    background-image: url('../../01/img/marcador1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
}

/* FIM MARCADOR 2 */

/* INICIO MARCADOR 1 */
.marcador1 {
    list-style: none;
    padding: 0;
}

.marcador1 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
}

.marcador1 li::before {
    content: "";
    background-image: url('../../01/img/marcador2.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
}

/* FIM MARCADOR 1 */
.bloco3 .accordion-body {
    margin-left: -1px;
}


@media screen and (max-width:860px) {
    .bloco3 .container {
        padding: 0 40px;
    }
}

@media screen and (max-width:849px) {

    .bloco-paralax1 .container,
    .bloco-paralax3 .container {
        padding-right: 370px;
        padding-top: 1px;
    }
}

@media screen and (max-width:767px) {
    .bloco-paralax1 .container {
        padding-right: unset;
        padding-top: 10px;
    }

    .bloco-paralax1 {
        background: url(../../01/img/BG_mob_parallax.jpg) no-repeat;
        background-size: cover;
    }

    .bloco-paralax2,
    .bloco-paralax-top,
    .bloco-paralax-bottom {
        display: none;
    }

    .bloco-paralax3 {
        background: url(../../01/img/BG_mob_parallax.jpg) no-repeat;
        background-size: cover;
        height: 500px;
    }

    .bloco-paralax3 .container {
        padding-right: unset;
        padding-top: 10px;
    }

    .painel2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .bt-painel2 {
        margin-right: unset;
        margin-left: unset;
        margin-bottom: 50px;
    }

    .painel1 {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background: none;
        height: unset;
        flex-direction: column;
    }

    .bt-painel1 {
        margin-right: 0;
        margin-left: 0;
        margin-top: 20px;
    }
}