@charset "utf-8";
.accordion-body {
    padding: 10px 20px 5px !important;
}

.accordion-body p {
    margin-bottom: 0px !important;
}

.accordion-item {
    background-color: transparent !important;
}
.citacao_marcador {
    display: flex;
    justify-content: flex-end;
}

.espera {
    background-color: #92ACCE;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}

/* INCIO ZOOM IMAGEM */
.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url(../../02/img/ico_zoom.png);
    display: block;
    width: 80px;
    height: 80px;
    right: 50px;
    bottom: 25px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

/* FIM ZOOM IMAGEM */

/* INICIO ELIPSE E ALTERAÇÕES TABELAS */
.elipse {
    position: absolute;
    top: 10%;
    left: -15%;
    width: 100%;
    height: 100%;
    background-image: url(../../03/img/tabela_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

.table-responsive {
    position: relative;
    z-index: 1;
    overflow: visible;
}

table {
    background-color: #fff;
    position: relative;
    z-index: 2;
}

thead {
    background: linear-gradient(to right, rgba(146, 172, 206, 0.7), #1A4480);
    color: #fff;
}

thead th {
    border-right: unset;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 2px;
    border-color: #92ACCE;
}

/* FIM ELIPSE E ALTERAÇÕES TABELAS */

/* INICIO PAINEL CLICAVEL 1 */
.painel1 {
    background-image: url(../../02/img/painel_tangram_bg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 880px;
    margin-top: 20px;
    margin-bottom: 20px;
    scale: 0.9;
}

.bt-painel1 {
    border: none;
    position: relative;
    background-color: transparent;
}

.bt1-painel1 {
    background-image: url(../../02/img/painel_tangram_bt1.png);
    width: 407px;
    height: 54px;
    top: -70px;
    right: -220px;
}

.bt2-painel1 {
    background-image: url(../../02/img/painel_tangram_bt5.png);
    width: 282px;
    height: 141px;
    top: 280px;
    right: 110px;
}

.bt3-painel1 {
    background-image: url(../../02/img/painel_tangram_bt6.png);
    width: 302px;
    height: 302px;
    top: 150px;
    right: -470px;
}

.bt4-painel1 {
    background-image: url(../../02/img/painel_tangram_bt8.png);
    width: 630px;
    height: 316px;
    top: 20px;
    right: -140px;
}

.bt5-painel1 {
    background-image: url(../../02/img/painel_tangram_bt3.png);
    width: 456px;
    height: 155px;
    top: -1155px;
    right: -130px;
}

.bt6-painel1 {
    background-image: url(../../02/img/painel_tangram_bt2.png);
    width: 315px;
    height: 629px;
    top: -640px;
    right: 355px;
}

.bt7-painel1 {
    background-image: url(../../02/img/painel_tangram_bt7.png);
    width: 152px;
    height: 301px;
    top: -945px;
    right: -650px;
}

.bt8-painel1 {
    background-image: url(../../02/img/painel_tangram_bt4.png);
    width: 315px;
    height: 314px;
    top: -1320px;
    right: -330px;
}

.bt1-painel1:hover {
    background-image: url(../../02/img/painel_tangram_bt1_hv.png);
}

.bt2-painel1:hover {
    background-image: url(../../02/img/painel_tangram_bt5_hv.png);
}

.bt3-painel1:hover {
    background-image: url(../../02/img/painel_tangram_bt6_hv.png);
}

.bt4-painel1:hover {
    background-image: url(../../02/img/painel_tangram_bt8_hv.png);
}

.bt5-painel1:hover {
    background-image: url(../../02/img/painel_tangram_bt3_hv.png);
}

.bt6-painel1:hover {
    background-image: url(../../02/img/painel_tangram_bt2_hv.png);
}

.bt7-painel1:hover {
    background-image: url(../../02/img/painel_tangram_bt7_hv.png);
}

.bt8-painel1:hover {
    background-image: url(../../02/img/painel_tangram_bt4_hv.png);
}

/* FIM PAINEL CLICAVEL 1 */

/* INICIO CUSTOMIZAÇÃO PÁGINA */
#topo,
.prognroll-bar {
    background: url(../../02/img/BG_topo1.jpg) no-repeat;
    background-size: 100% 100%;
}

.topo-logo {
    background: none, url(../images/senac_logo.svg) no-repeat right 5% center;
    background-size: auto, 70px;
    height: 121px;
}

.topo2 {
    background: url(../../02/img/BG_topo2.jpg) no-repeat;
    background-size: 100% 100%;
    height: 48px;
}

body {
    background-image: url(../../02/img/BG_quadro.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.pagina .container {
    background: url(../../02/img/BG_papel.jpg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px 40px;
    border-radius: 5px;
    filter: drop-shadow(#000 0px 4px 4px);
}

.faixa {
    height: 5px;
    background: linear-gradient(to right, #004788, #80acd3, #e3908c);
    width: 100%;
    border-radius: 20px;
    margin-top: -35px;
    margin-bottom: 40px;
}

/* INICIO IMAGENS LATERAIS */
.rellax {
    position: absolute;
    z-index: 15;
    width: 35%;
}

.rellax-1,
.rellax-2,
.rellax-3,
.rellax-4,
.rellax-5,
.rellax-6,
.rellax-7,
.rellax-8,
.rellax-9 {
    right: -345px;
    top: 900px;
}

.rellax-10 {
    left: -370px;
    top: 1080px;
}

.rellax-11 {
    left: -370px;
    top: 2600px;
}

.rellax-12 {
    left: -370px;
    top: 4600px;
}

.rellax-13 {
    left: -370px;
    top: 6982px;
}

.rellax-14 {
    left: -370px;
    bottom: 2185px;
}

.rellax-15 {
    left: -370px;
    bottom: 280px;
}

.rellax-16 {
    left: -370px;
    bottom: -880px;
}

.rellax-17 {
    left: -470px;
    top: 1080px;
}

.rellax-18 {
    left: -470px;
    top: 2177px;
}

.rellax-19 {
    left: -470px;
    top: 1530px;
}

.rellax-20 {
    left: -470px;
    top: 3060px;
}

.rellax-21 {
    left: -470px;
    top: 1690px;
}

.rellax-22 {
    left: -470px;
    top: 3370px;
}

.rellax-23 {
    left: -470px;
    top: 1195px;
}

.rellax-24 {
    left: -470px;
    top: 2862px;
}

.rellax-25 {
    left: -470px;
    top: 4235px;
}

.rellax-26 {
    left: -470px;
    top: 1180px;
}

.rellax-27 {
    left: -470px;
    top: 2480px;
}

.rellax-28 {
    left: -470px;
    top: 1090px;
}

.rellax-29 {
    left: -470px;
    top: 2180px;
}

.rellax-30 {
    left: -470px;
    top: 1430px;
}

.rellax-31 {
    left: -470px;
    top: 2875px;
}

.rellax-32 {
    left: -470px;
    top: 4315px;
}

.rellax-33 {
    left: -470px;
    top: 1430px;
}

.rellax-34 {
    left: -470px;
    top: 2875px;
}

.rellax-35 {
    left: -470px;
    top: 4315px;
}

/* FIM IMAGENS LATERAIS */
/* FIM CUSTOMIZAÇÃO PÁGINA */

/* INICIO PAINEL CLICAVEL 3 */
.painel3 {
    background-image: url(../../02/img/info3_personagem.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 403px;
    margin-top: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}


.bt1-painel3 {
    background-image: url(../../02/img/info3_bt2.png);
    width: 193px;
    height: 99px;
    top: -25px;
    right: 30px;
    border: none;
    background-color: transparent;
    position: relative;
}

.bt1-painel3:hover {
    background-image: url(../../02/img/info3_bt2_hv.png);
}

.bt2-painel3 {
    background-image: url(../../02/img/info3_bt1.png);
    width: 193px;
    height: 100px;
    top: -110px;
    right: 40px;
    border: none;
    background-color: transparent;
    position: relative;
}

.bt2-painel3:hover {
    background-image: url(../../02/img/info3_bt1_hv.png);
}

.bt3-painel3 {
    background-image: url(../../02/img/info3_bt3.png);
    width: 193px;
    height: 99px;
    top: -30px;
    right: 40px;
    border: none;
    background-color: transparent;
    position: relative;
}

.bt3-painel3:hover {
    background-image: url(../../02/img/info3_bt3_hv.png);
}

/* FIM PAINEL CLICAVEL 3 */

/* INICIO PAINEL CLICAVEL 2 */
.painel2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.bt-painel2 {
    border: none;
    width: 128px;
    height: 128px;
    transition: transform 0.3s ease;
}

.bt-painel2:hover {
    transform: scale(1.1);
}

.bt1-painel2 {
    background-image: url(../../02/img/painelODS_bt1.png);
}

.bt2-painel2 {
    background-image: url(../../02/img/painelODS_bt2.png);
}

.bt3-painel2 {
    background-image: url(../../02/img/painelODS_bt3.png);
}

.bt4-painel2 {
    background-image: url(../../02/img/painelODS_bt4.png);
}

.bt5-painel2 {
    background-image: url(../../02/img/painelODS_bt5.png);
}

.bt6-painel2 {
    background-image: url(../../02/img/painelODS_bt6.png);
}

.bt7-painel2 {
    background-image: url(../../02/img/painelODS_bt7.png);
}

.bt8-painel2 {
    background-image: url(../../02/img/painelODS_bt8.png);
}

.bt9-painel2 {
    background-image: url(../../02/img/painelODS_bt9.png);
}

.bt10-painel2 {
    background-image: url(../../02/img/painelODS_bt10.png);
}

.bt11-painel2 {
    background-image: url(../../02/img/painelODS_bt11.png);
}

.bt12-painel2 {
    background-image: url(../../02/img/painelODS_bt12.png);
}

.bt13-painel2 {
    background-image: url(../../02/img/painelODS_bt13.png);
}

.bt14-painel2 {
    background-image: url(../../02/img/painelODS_bt14.png);
}

.bt15-painel2 {
    background-image: url(../../02/img/painelODS_bt15.png);
}

.bt16-painel2 {
    background-image: url(../../02/img/painelODS_bt16.png);
}

.bt17-painel2 {
    background-image: url(../../02/img/painelODS_bt17.png);
}

.bt18-painel2 {
    background-image: url(../../02/img/painelODS_bt18.png);
}

/* FIM PAINEL CLICAVEL 2 */

/* INICIO MARCADOR 2 */
.marcador2 {
    list-style: none;
    padding: 0;
}

.marcador2 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
}

.marcador2 li::before {
    content: "";
    background-image: url('../../02/img/marcador_circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
}

/* FIM MARCADOR 2 */

/* INICIO MARCADOR 3 */
.marcador3 {
    list-style: none;
    padding: 0;
}

.marcador3 li {
    position: relative;
    padding-left: 45px;
    line-height: 1.5;
}

.espaco {
    margin-left: 50px;
}

.marcador3 li::before {
    content: "";
    background-image: url('../../02/img/marcador_star.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
}

/* FIM MARCADOR 3 */
.nav-tabs .nav-link {
    border-radius: 15px 15px 0 0;
}

/* INICIO MARCADOR 4 */
.marcador4 {
    list-style: none;
    padding: 0;
}

.marcador4 li {
    position: relative;
    padding-left: 40px;
    line-height: 1.5;
}

.marcador4 .marcador_1::before {
    content: "";
    background-image: url('../../02/img/marcador_01.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_2::before {
    content: "";
    background-image: url('../../02/img/marcador_02.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_3::before {
    content: "";
    background-image: url('../../02/img/marcador_03.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_4::before {
    content: "";
    background-image: url('../../02/img/marcador_04.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_5::before {
    content: "";
    background-image: url('../../02/img/marcador_05.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_6::before {
    content: "";
    background-image: url('../../02/img/marcador_06.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_7::before {
    content: "";
    background-image: url('../../02/img/marcador_07.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_8::before {
    content: "";
    background-image: url('../../02/img/marcador_08.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_9::before {
    content: "";
    background-image: url('../../02/img/marcador_09.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador4 .marcador_10::before {
    content: "";
    background-image: url('../../02/img/marcador_10.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

/* FIM MARCADOR 4 */

/* INICIO PAINEL CLICAVEL 2 */
.painel4 {
    margin-top: 10px;
    margin-bottom: 40px;
    background-image: url(../../02/img/painel_perfil_BG.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    scale: 0.9;
}

.bt-painel4 {
    border: none;
    width: 181px;
    height: 113px;
    background-color: transparent;
    position: relative;
}

.bt1-painel4 {
    background-image: url(../../02/img/painel_perfil_bt1.png);
    top: 335px;
    right: 20px;
}

.bt2-painel4 {
    background-image: url(../../02/img/painel_perfil_bt2.png);
    top: 190px;
    right: -25px;
}

.bt3-painel4 {
    background-image: url(../../02/img/painel_perfil_bt3.png);
    top: 498px;
    right: 160px;
}

.bt4-painel4 {
    background-image: url(../../02/img/painel_perfil_bt4.png);
    width: 437px;
    height: 92px;
    top: 600px;
    right: -245px;
}

.bt5-painel4 {
    background-image: url(../../02/img/painel_perfil_bt5.png);
    top: 70px;
    right: -85px;
}

.bt6-painel4 {
    background-image: url(../../02/img/painel_perfil_bt6.png);
    top: 380px;
    right: 110px;
}

.bt7-painel4 {
    background-image: url(../../02/img/painel_perfil_bt7.png);
    top: 105px;
    right: -760px;
}

.bt1-painel4:hover {
    background-image: url(../../02/img/painel_perfil_bt1_hv.png);
}

.bt2-painel4:hover {
    background-image: url(../../02/img/painel_perfil_bt2_hv.png);
}

.bt3-painel4:hover {
    background-image: url(../../02/img/painel_perfil_bt3_hv.png);
}

.bt4-painel4:hover {
    background-image: url(../../02/img/painel_perfil_bt4_hv.png);
}

.bt5-painel4:hover {
    background-image: url(../../02/img/painel_perfil_bt5_hv.png);
}

.bt6-painel4:hover {
    background-image: url(../../02/img/painel_perfil_bt6_hv.png);
}

.bt7-painel4:hover {
    background-image: url(../../02/img/painel_perfil_bt7_hv.png);
}

/* FIM PAINEL CLICAVEL 4 */
@media screen and (max-width:1440px) {
    .rellax {
        position: absolute;
        z-index: 15;
        width: 25%;
    }

    .rellax-1,
    .rellax-2,
    .rellax-3,
    .rellax-4,
    .rellax-5,
    .rellax-6,
    .rellax-7,
    .rellax-8,
    .rellax-9 {
        right: -240px;
        top: 900px;
    }

    .rellax-17,
    .rellax-18,
    .rellax-19,
    .rellax-20,
    .rellax-21,
    .rellax-22,
    .rellax-23,
    .rellax-24,
    .rellax-25,
    .rellax-26,
    .rellax-27,
    .rellax-28,
    .rellax-29,
    .rellax-30,
    .rellax-31,
    .rellax-32,
    .rellax-33,
    .rellax-34,
    .rellax-35 {
        left: -240px;
    }
}

@media screen and (max-width:1024px) {

    .rellax-1,
    .rellax-2,
    .rellax-3,
    .rellax-4,
    .rellax-5,
    .rellax-6,
    .rellax-7,
    .rellax-8,
    .rellax-9,
    .rellax-10,
    .rellax-11,
    .rellax-12,
    .rellax-13,
    .rellax-14,
    .rellax-15,
    .rellax-16,
    .rellax-17,
    .rellax-18,
    .rellax-19,
    .rellax-20,
    .rellax-21,
    .rellax-22,
    .rellax-23,
    .rellax-24,
    .rellax-25,
    .rellax-26,
    .rellax-27,
    .rellax-28,
    .rellax-29,
    .rellax-30,
    .rellax-31,
    .rellax-32,
    .rellax-33,
    .rellax-34,
    .rellax-35 {
        display: none !important;
    }
}

@media screen and (max-width:600px) {
    .table-responsive {
        overflow-x: auto !important;
    }

    .esquemaDaBru .alt-c,
    .esquemaDaBru .alt-e {
        width: 55% !important;
    }

    .painel3 {
        background-image: url(../../02/img/info3_mob_personagem.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 326px;
        margin-top: 340px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .bt1-painel3 {
        background-image: url(../../02/img/info3_bt2.png), url(../../02/img/info3_mob_bolha.png);
        background-repeat: no-repeat;
        background-position: 0px top, 0px bottom;
        top: -170px;
        right: 0;
    }

    .bt2-painel3 {
        background-image: url(../../02/img/info3_bt1.png), url(../../02/img/info3_mob_bolha.png);
        background-repeat: no-repeat;
        background-position: 0px top, 0px bottom;
        top: -420px;
        right: 0;
    }

    .bt3-painel3 {
        top: -330px;
        right: 0;
    }

    .bt1-painel3:hover {
        background-image: url(../../02/img/info3_bt2_hv.png), url(../../02/img/info3_mob_bolha.png);
        background-repeat: no-repeat;
        background-position: 0px top, 0px bottom;
    }

    .bt2-painel3:hover {
        background-image: url(../../02/img/info3_bt1_hv.png), url(../../02/img/info3_mob_bolha.png);
        background-repeat: no-repeat;
        background-position: 0px top, 0px bottom;
    }
}