@charset "utf-8";

.accordion-body {
    padding: 10px 20px 5px !important;
}

.accordion-body p {
    margin-bottom: 0px !important;
}

.accordion-item {
    background-color: transparent !important;
}

.accordion-button {
    font-size: 20px;
    font-weight: bold;
}

.tab-content {
    padding: 20px;
    padding-bottom: 0px;
}

li {
    margin-bottom: 15px;
    margin-top: 5px;
}

.nav-item {
    margin-bottom: 0px;
    margin-top: 0px;
}

.espaco {
    margin-top: 50px;
}

body {
    background-color: #FFF;
}

.accordion-body {
    margin-left: -1px;
}

/* INICIO PAINEL CLICAVEL 2 */
.painel2 {
    background: url(../../03/img/painel_bg.png) no-repeat;
    height: 700px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 30px;
}

.bt-painel2 {
    height: 159px;
    width: 161px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
}

.bt1-painel2 {
    background: url(../../03/img/painel_bt1.png) no-repeat;
}

.bt2-painel2 {
    background: url(../../03/img/painel_bt2.png) no-repeat;
}

.bt3-painel2 {
    background: url(../../03/img/painel_bt3.png) no-repeat;
}

.bt4-painel2 {
    background: url(../../03/img/painel_bt4.png) no-repeat;
}

.bt5-painel2 {
    background: url(../../03/img/painel_bt5.png) no-repeat;
}

.bt6-painel2 {
    background: url(../../03/img/painel_bt6.png) no-repeat;
}

.bt7-painel2 {
    background: url(../../03/img/painel_bt7.png) no-repeat;
}

.bt1-painel2:hover {
    background: url(../../03/img/painel_bt1_hv.png) no-repeat;
}

.bt2-painel2:hover {
    background: url(../../03/img/painel_bt2_hv.png) no-repeat;
}

.bt3-painel2:hover {
    background: url(../../03/img/painel_bt3_hv.png) no-repeat;
}

.bt4-painel2:hover {
    background: url(../../03/img/painel_bt4_hv.png) no-repeat;
}

.bt5-painel2:hover {
    background: url(../../03/img/painel_bt5_hv.png) no-repeat;
}

.bt6-painel2:hover {
    background: url(../../03/img/painel_bt6_hv.png) no-repeat;
}

.bt7-painel2:hover {
    background: url(../../03/img/painel_bt7_hv.png) no-repeat;
}

.bt1-painel2.visto {
    background: url(../../03/img/painel_bt1_ok.png) no-repeat;
}

.bt2-painel2.visto {
    background: url(../../03/img/painel_bt2_ok.png) no-repeat;
}

.bt3-painel2.visto {
    background: url(../../03/img/painel_bt3_ok.png) no-repeat;
}

.bt4-painel2.visto {
    background: url(../../03/img/painel_bt4_ok.png) no-repeat;
}

.bt5-painel2.visto {
    background: url(../../03/img/painel_bt5_ok.png) no-repeat;
}

.bt6-painel2.visto {
    background: url(../../03/img/painel_bt6_ok.png) no-repeat;
}

.bt7-painel2.visto {
    background: url(../../03/img/painel_bt7_ok.png) no-repeat;
}

/* FIM PAINEL CLICAVEL 2 */

/* INICIO PAINEL CLICAVEL 1 */
.painel1 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-painel1 {
    height: 290px;
    width: 291px;
    border: none;
    margin-right: 30px;
    margin-left: 30px;
}

.bt1-painel1 {
    background: url(../../03/img/bt1.png) no-repeat;
}

.bt2-painel1 {
    background: url(../../03/img/bt2.png) no-repeat;
}

.bt1-painel1:hover {
    background: url(../../03/img/bt1_hv.png) no-repeat;
}

.bt2-painel1:hover {
    background: url(../../03/img/bt2_hv.png) no-repeat;
}

/* FIM PAINEL CLICAVEL 1 */

/* INCIO ZOOM IMAGEM */
.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url(../../03/img/ico_visualizar.png);
    display: block;
    width: 80px;
    height: 80px;
    right: 50px;
    bottom: 25px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

/* FIM ZOOM IMAGEM */

/* INICIO MARCADOR 2 */
.marcador2 {
    list-style: none;
    padding: 0;
}

.marcador2 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
}

.marcador2 li::before {
    content: "";
    background-image: url('../../03/img/marcador.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
}

.bolinha li::before {
    top: 8%;
}

/* FIM MARCADOR 2 */

/* INICIO MARCADOR 3 */
.marcador3 {
    list-style: none;
    padding: 0;
}

.marcador3 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
}

.marcador3 .marcador_a::before {
    content: "";
    background-image: url('../../03/img/marcador_a.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador3 .marcador_b::before {
    content: "";
    background-image: url('../../03/img/marcador_b.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

/* FIM MARCADOR 3 */

/* INICIO BLOCOS */
.bloco1 {
    background: url(../../03/img/BG1.png) no-repeat;
    background-size: cover;
}

.bloco2 {
    background: url(../../03/img/BG2.png) no-repeat;
    background-size: cover;
}

.bloco3 {
    background: url(../../03/img/BG3.jpg) no-repeat;
    background-size: cover;

}

.bloco4,
footer {
    background: url(../../03/img/BG4.jpg) no-repeat;
    background-size: cover;
}

/* FIM BLOCOS */

.img-divisoria1 {
    margin-top: -3%;
    position: absolute;
    left: 47%;
}

.img-divisoria2 {
    margin-top: -3%;
    position: absolute;
    width: 100%;
}

/* INICIO ELIPSE E ALTERAÇÕES TABELAS */
.elipse {
    position: absolute;
    top: 4%;
    left: -15%;
    width: 100%;
    height: 100%;
    background-image: url(../../03/img/tabela_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

.tabela1 .elipse {
    top: 50%;
}

.table-responsive {
    position: relative;
    z-index: 1;
    overflow: visible;
}

table {
    background-color: #fff;
    position: relative;
    z-index: 2;
}

thead {
    background: linear-gradient(to right, rgba(146, 172, 206, 0.7), #1A4480);
    color: #fff;
}

thead th {
    border-right: unset;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 2px;
    border-color: #92ACCE;
}

/* FIM ELIPSE E ALTERAÇÕES TABELAS */

/* INICIO IMAGENS LATERAIS */
.rellax {
    position: absolute;
    z-index: 15;

}

.rellax-1 {
    right: -385px;
    top: 860px;
}

.rellax-2 {
    left: -504px;
    top: 10342px;
}

.rellax-3 {
    right: -369px;
    top: 14455px;
}

.rellax-4 {
    left: -481px;
    top: 17890px;
}

/* FIM IMAGENS LATERAIS */

/* INICIO ALTERAÇÕES MODAIS */
.modal-80 .tab-content {
    background-color: #fff;
}

.modals4 .modal-body {
    background: url(../../03/img/bg_modal_secao4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: calc(80%) calc(100%);
}

.modals5 .modal-body {
    background: url(../../03/img/bg_modal_secao5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: calc(80%) calc(100%);
}

.modals6 .modal-body {
    background: url(../../03/img/bg_modal_secao6.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: calc(80%) calc(100%);
}

.modals7 .modal-body {
    background: url(../../03/img/bg_modal_secao7.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: calc(80%) calc(100%);
}

.modals8 .modal-body {
    background: url(../../03/img/bg_modal_secao8.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: calc(80%) calc(100%);
}

.modals9 .modal-body {
    background: url(../../03/img/bg_modal_secao9.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: calc(80%) calc(100%);
}

.modals10 .modal-body {
    background: url(../../03/img/bg_modal_secao10.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: calc(80%) calc(100%);
}

.modal-80 .modal-header {
    background: #ddeaf5;

}

.modal-80 .modal-header h5 {
    color: #000;
}

/* FIM ALTERAÇÕES MODAIS */
@media screen and (max-width:1440px) {
    .rellax-1 {
        right: -224px;
        top: 808px;
        width: 28%;
    }

    .rellax-3 {
        right: -238px;
        top: 12758px;
        width: 28%;
    }
}

@media screen and (max-width:1024px) {
    .rellax-1 {
        display: none !important;
    }

    .rellax-2 {
        display: none !important;
    }

    .rellax-3 {
        display: none !important;
    }

    .rellax-4 {
        display: none !important;
    }
}

@media screen and (max-width:900px) {
    .elipse {
        display: none;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .painel2 {
        background: unset;
        height: unset;
        background-size: unset;
        display: flex;
        padding-top: unset;
        padding-left: unset;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .modals4 .modal-body {
        background-size: cover;
    }

    .modals5 .modal-body {
        background-size: cover;
    }

    .modals6 .modal-body {
        background-size: cover;
    }

    .modals7 .modal-body {
        background-size: cover;
    }

    .modals8 .modal-body {
        background-size: cover;
    }

    .modals9 .modal-body {
        background-size: cover;
    }

    .modals10 .modal-body {
        background-size: cover;
    }
}

@media screen and (max-width:767px) {
    .painel1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .bt-painel1 {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width:500px) {
    .img-divisoria1 {
        margin-top: -5%;
        position: absolute;
        left: 38%;
        z-index: 3;
    }

    .voltar-topo {
        right: 5px;
        z-index: 100;
    }

    .painel2 {
        text-align: center;
    }

    .bloco4,
    footer {
        background: url(../../03/img/BG4.jpg) no-repeat, rgba(255, 255, 255, 0.7);
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .bloco4::before,
    footer::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        z-index: -1;
    }

    .marcador2 li::before {
        top: 5%;
    }

    .marcador3 .marcador_a::before {
        top: 8%;
    }

    .marcador3 .marcador_b::before {
        top: 8%;
    }

    .modal-80 .container {
        padding: unset;
    }

    .modal-80 .modal-body {
        background: linear-gradient(to bottom, #ddeaf5, #fde8e8);
    }

    .modal-80 .modal-header {
        background: #ddeaf5;
    }

    .bolinha li::before {
        top: 2%;
    }
}