@charset "utf-8";

body {
    background-color: #FFF;
}

/* INICIO PAINEL CLICAVEL 2 */
.painel2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: url(../../03/img/painel_bg.png) no-repeat;
    background-size: contain;
    height: 700px;
    background-position: center;
    flex-wrap: wrap;
}

.bt-painel2 {
    height: 159px;
    width: 161px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
}

.bt1-painel2 {
    background: url(../../03/img/painel_bt1.png) no-repeat;
}

.bt2-painel2 {
    background: url(../../03/img/painel_bt2.png) no-repeat;
}

.bt3-painel2 {
    background: url(../../03/img/painel_bt3.png) no-repeat;
}

.bt4-painel2 {
    background: url(../../03/img/painel_bt4.png) no-repeat;
}

.bt5-painel2 {
    background: url(../../03/img/painel_bt5.png) no-repeat;
}

.bt6-painel2 {
    background: url(../../03/img/painel_bt6.png) no-repeat;
}

.bt7-painel2 {
    background: url(../../03/img/painel_bt7.png) no-repeat;
}

.bt1-painel2:hover {
    background: url(../../03/img/painel_bt1_hv.png) no-repeat;
}

.bt2-painel2:hover {
    background: url(../../03/img/painel_bt2_hv.png) no-repeat;
}

.bt3-painel2:hover {
    background: url(../../03/img/painel_bt3_hv.png) no-repeat;
}

.bt4-painel2:hover {
    background: url(../../03/img/painel_bt4_hv.png) no-repeat;
}

.bt5-painel2:hover {
    background: url(../../03/img/painel_bt5_hv.png) no-repeat;
}

.bt6-painel2:hover {
    background: url(../../03/img/painel_bt6_hv.png) no-repeat;
}

.bt7-painel2:hover {
    background: url(../../03/img/painel_bt7_hv.png) no-repeat;
}

.bt1-painel2.visto {
    background: url(../../03/img/painel_bt1_ok.png) no-repeat;
}

.bt2-painel2.visto {
    background: url(../../03/img/painel_bt2_ok.png) no-repeat;
}

.bt3-painel2.visto {
    background: url(../../03/img/painel_bt3_ok.png) no-repeat;
}

.bt4-painel2.visto {
    background: url(../../03/img/painel_bt4_ok.png) no-repeat;
}

.bt5-painel2.visto {
    background: url(../../03/img/painel_bt5_ok.png) no-repeat;
}

.bt6-painel2.visto {
    background: url(../../03/img/painel_bt6_ok.png) no-repeat;
}

.bt7-painel2.visto {
    background: url(../../03/img/painel_bt7_ok.png) no-repeat;
}

/* FIM PAINEL CLICAVEL 2 */

/* INICIO PAINEL CLICAVEL 1 */
.painel1 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-painel1 {
    height: 290px;
    width: 291px;
    border: none;
    margin-right: 30px;
    margin-left: 30px;
}

.bt1-painel1 {
    background: url(../../03/img/bt1.png) no-repeat;
}

.bt2-painel1 {
    background: url(../../03/img/bt2.png) no-repeat;
}

.bt1-painel1:hover {
    background: url(../../03/img/bt1_hv.png) no-repeat;
}

.bt2-painel1:hover {
    background: url(../../03/img/bt2_hv.png) no-repeat;
}

/* FIM PAINEL CLICAVEL 1 */

/* INCIO ZOOM IMAGEM */
.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url(../../03/img/ico_visualizar.png);
    display: block;
    width: 80px;
    height: 80px;
    right: 50px;
    bottom: 25px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

/* FIM ZOOM IMAGEM */

/* INICIO MARCADOR 2 */
.marcador2 {
    list-style: none;
    padding: 0;
}

.marcador2 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
}

.marcador2 li::before {
    content: "";
    background-image: url('../../03/img/marcador.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
}

/* FIM MARCADOR 2 */

/* INICIO MARCADOR 3 */
.marcador3 {
    list-style: none;
    padding: 0;
}

.marcador3 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
}

.marcador3 .marcador_a::before {
    content: "";
    background-image: url('../../03/img/marcador_a.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.marcador3 .marcador_b::before {
    content: "";
    background-image: url('../../03/img/marcador_b.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

/* FIM MARCADOR 3 */

/* INICIO BLOCOS */
.bloco1 {
    background: url(../../03/img/BG1.png) no-repeat;
    background-size: cover;
}

.bloco2 {
    background: url(../../03/img/BG2.png) no-repeat;
    background-size: cover;
}

.bloco3 {
    background: url(../../03/img/BG3.jpg) no-repeat;
    background-size: cover;

}

.bloco4,
footer {
    background: url(../../03/img/BG4.jpg) no-repeat;
    background-size: cover;
}

/* FIM BLOCOS */

.img-divisoria1 {
    margin-top: -3%;
    position: absolute;
    left: 47%;
}

.img-divisoria2 {
    margin-top: -3%;
    position: absolute;
    width: 100%;
}

/* INICIO ELIPSE E ALTERAÇÕES TABELAS */
.elipse {
    position: absolute;
    top: 10%;
    left: -15%;
    width: 100%;
    height: 100%;
    background-image: url(../../03/img/tabela_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

.table-responsive {
    position: relative;
    z-index: 1;
    overflow: visible;
}

table {
    background-color: #fff;
    position: relative;
    z-index: 2;
}

thead {
    background: linear-gradient(to right, rgba(146, 172, 206, 0.7), #1A4480);
    color: #fff;
}

thead th {
    border-right: unset;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 2px;
    border-color: #92ACCE;
}

/* FIM ELIPSE E ALTERAÇÕES TABELAS */

/* INICIO IMAGENS LATERAIS */
.rellax {
    position: absolute;
    z-index: 15;
}

.rellax-1 {
    right: -450px;
    top: 800px;
}

/* FIM IMAGENS LATERAIS */





















































@media screen and (max-width:1400px) {
    .rellax-1 {
        right: 0px;
        top: 0px;
    }
}

@media screen and (max-width:900px) {
    .elipse {
        display: none;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .rellax-1 {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .painel1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .bt-painel1 {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width:500px) {
    .img-divisoria1 {
        margin-top: -5%;
        position: absolute;
        left: 38%;
    }
}