@charset "utf-8";

.accordion-body {
    padding: 10px 20px 5px !important;
}

.accordion-body p {
    margin-bottom: 0px !important;
}

.accordion-item {
    background-color: transparent !important;
}

.citacao {
    padding-right: 30px;
    padding-left: 200px;

}

.destaque2 {
    padding-left: 5px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* INICIO PAINEL CLICAVEL 1 */
.painel1 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-painel1 {
    height: 64px;
    width: 229px;
    border: none;
    margin-right: 30px;
    margin-left: 30px;
}

.bt1-painel1 {
    background: url(../../04/img/bt1.png) no-repeat;
}

.bt2-painel1 {
    background: url(../../04/img/bt2.png) no-repeat;
}

.bt1-painel1:hover {
    background: url(../../04/img/bt1_hv.png) no-repeat;
}

.bt2-painel1:hover {
    background: url(../../04/img/bt2_hv.png) no-repeat;
}

/* FIM PAINEL CLICAVEL 1 */

/* INICIO PAINEL CLICAVEL 2 */
.painel2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-painel2 {
    height: 188px;
    width: 228px;
    border: none;
    margin-right: 30px;
    margin-left: 30px;
}

.bt1-painel2 {
    background: url(../../04/img/bt3.png) no-repeat;
}

.bt2-painel2 {
    background: url(../../04/img/bt4.png) no-repeat;
}

.bt1-painel2:hover {
    background: url(../../04/img/bt3_hv.png) no-repeat;
    height: 184px;
    width: 271px;
}

.bt2-painel2:hover {
    background: url(../../04/img/bt4_hv.png) no-repeat;
    height: 184px;
    width: 271px;
}

/* FIM PAINEL CLICAVEL 2 */

/* INICIO MARCADOR 2 */
.marcador2 {
    list-style: none;
    padding: 0;
}

.marcador2 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.marcador2 li::before {
    content: "";
    background-image: url('../../04/img/marcador_simples.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 11px;
}

/* FIM MARCADOR 2 */

/* INICIO BLOCOS */
.bloco1 {
    background: url(../../04/img/BG1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bloco2 {
    background: url(../../04/img/BG2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bloco3,
footer {
    background: url(../../04/img/BG3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* FIM BLOCOS */

/* INICIO ALTERAÇÕES TABELAS */
.elipse {
    position: absolute;
    top: 5%;
    left: -15%;
    width: 100%;
    height: 100%;
    background-image: url(../../03/img/tabela_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

.table-responsive {
    position: relative;
    z-index: 1;
    overflow: visible;
}

table {
    background-color: #fff;
    position: relative;
    z-index: 2;
}

thead {
    background: linear-gradient(to right, rgba(146, 172, 206, 0.7), #1A4480);
    color: #fff;
}

thead th {
    border-right: unset;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 2px;
    border-color: #92ACCE;
}

/* FIM ALTERAÇÕES TABELAS */

.img-divisoria1 {
    margin-top: -3%;
    position: absolute;
    left: 47%;
}

/* INCIO ZOOM IMAGEM */
.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url(../../04/img/ico_zoom.png);
    display: block;
    width: 80px;
    height: 80px;
    right: 50px;
    bottom: 25px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

/* FIM ZOOM IMAGEM */

/* INICIO ALTERAÇÕES MODAIS */
.modal-body {
    background: url(../../04/img/BG_modal80.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-position: center;
}

.modal-header {
    background: url(../../04/img/BG_modal80.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-header h5 {
    color: #000;
}

/* FIM ALTERAÇÕES MODAIS */

/* INICIO IMAGENS LATERAIS */
.rellax {
    position: absolute;
    z-index: 15;
    width: 30%;
}

.rellax-1 {
    left: -300px;
    top: 6220px;
}

.rellax-2 {
    left: -300px;
    top: 8795px;
}

.rellax-3 {
    left: -300px;
    top: 10557px;
}

.rellax-4 {
    left: -300px;
    top: 11084px;
}

.rellax-5 {
    left: -300px;
    top: 12697px;
}

/* FIM IMAGENS LATERAIS */

/* INICIO CONTROLES CAROUSEL */
.carousel-control-prev {
    background: url(../../04/img/slide_bt_anterior.png) no-repeat;
    left: 270px;
    top: -110px;
    height: 32px !important;
    width: 33px !important;
}

.carousel-control-prev:hover {
    background: url(../../04/img/slide_bt_anterior_hv.png) no-repeat;
}

.carousel-control-next {
    background: url(../../04/img/slide_bt_proximo.png) no-repeat;
    right: 270px;
    top: -110px;
    height: 32px !important;
    width: 33px !important;
}

.carousel-control-next:hover {
    background: url(../../04/img/slide_bt_proximo_hv.png) no-repeat;
}

.carousel-control-prev.inactive {
    background: url(../../04/img/slide_bt_anterior_inativo.png) no-repeat;
}

.carousel-control-next.inactive {
    background: url(../../04/img/slide_bt_proximo_inativo.png) no-repeat;
}

.carousel-indicators [data-bs-target].active,
.splide__pagination__page.is-active,
.game-associar-colunas button.item {
    border-color: transparent;
    background: transparent;
}

.carousel-indicators .indicador,
.splide__pagination__page {
    background-color: transparent;
}

.carousel-indicators .indicador,
.splide__pagination__page,
.modal-body,
.popover,
.tab-content,
.multipla-escolha button,
.f-positivo,
.f-negativo,
.game-body .slot,
.resp,
.bg-podcast {
    border-color: transparent;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel {
    margin-bottom: 60px;
}

/* FIM CONTROLES CAROUSEL */
@media screen and (max-width:768px) {
    .rellax-1 {
        display: none !important;
    }

    .rellax-2 {
        display: none !important;
    }

    .rellax-3 {
        display: none !important;
    }

    .rellax-4 {
        display: none !important;
    }

    .rellax-5 {
        display: none !important;
    }

    .carousel-control-prev {
        left: 250px;
        transform: rotate(180deg);
    }

    .carousel-control-next {
        right: 250px;
        transform: rotate(180deg);
    }
}

@media screen and (max-width:767px) {
    .painel1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .bt-painel1 {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .painel2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .bt-painel2 {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width:500px) {
    .img-divisoria1 {
        margin-top: -5%;
        position: absolute;
        left: 38%;
    }

    .carousel-control-prev {
        left: 130px;
        top: -40px;
    }

    .carousel-control-next {
        right: 130px;
        top: -40px;
    }

    .carousel {
        margin-bottom: 40px;
    }

    .citacao {
        padding-left: 90px;
    }

    .marcador2 li::before {
        top: 10%;
    }

    .bloco1 .modal-80 .container {
        padding: unset;
    }

    .destaque2 {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}